{% extends 'base.html.twig' %}

{% block body %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center mb-5">
        <h1 class="display-4">What would you see in PHP.Next ?</h1>
        <p class="lead">Just share your idea or browse the already sent one.<br/>
            Everyone wants a better PHP.
        </p>
    </div>

    <h1>Latest ideas</h1>

    {% include 'idea/_list.html.twig' with {ideas: ideas, badge_definer: badge_definer, show_actions: false} only %}
{% endblock %}
