@import "~bootstrap/dist/css/bootstrap.css";

@import '~codemirror/lib/codemirror.css'; // codemirror
@import '~tui-editor/dist/tui-editor.css'; // editor ui
@import '~tui-editor/dist/tui-editor-contents.css'; // editor content

@import "~driver.js/dist/driver.min.css";

@import 'code-theme'; // code block highlight
@import 'sign_in';
@import 'comments';
@import 'editor';
@import 'list';

body {
  padding-top: 100px;
  font-family: 'Noto Sans';
}

.hide {
  display: none;
}

.editor-container {
  min-height: 150px;
}