@import "~bootstrap/dist/css/bootstrap.css";

@import '~codemirror/lib/codemirror.css'; // codemirror
@import '~tui-editor/dist/tui-editor.css'; // editor ui
@import '~tui-editor/dist/tui-editor-contents.css'; // editor content

@import "~driver.js/dist/driver.min.css";

@import 'code-theme'; // code block highlight
@import 'sign_in';
@import 'comments';
@import 'editor';
@import 'list';

body {
  padding-top: 100px;
  font-family: 'Noto Sans';
}

.hide {
  display: none;
}

.editor-container {
  min-height: 150px;
}

.idea-info {
  font-size: 13px;
  padding-left: 3px;
}

a {
  outline: 0;
}

footer {
  background: #465052;
  color: white;
  padding: 50px 0;
  margin-top: 100px;
  a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    &:hover {
      color: #ccc;
      text-decoration: none;
    }
  }
}