<div class="col-md-9" id="comment-{{ comment.id }}">
    <div class="float-left mr-3 btn-container {{ is_authenticate ? 'is_authenticate' : '' }}">
        {% include 'idea/_comment_vote_buttons.html.twig' %}
    </div>

    <div class="ml-2 panel panel-white post panel-shadow">
        <div class="post-heading">
            <div class="float-left meta">
                <a href="#">{{ comment.user.username }}</a>
                <span class="mr-2 ml-2"> · </span>
                <span class="text-muted time">{{ comment.creationDatetime | date('c') }}</span>
            </div>
        </div>
        <div class="post-description">
            <p data-content="{{ {text: comment.content | purify } | json_encode }}"></p>
        </div>
    </div>
</div>