{% extends 'base.html.twig' %}

{% block title %}{{ title }} - PHPVote{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% include 'idea/_list.html.twig' with {
        ideas: ideas,
        show_actions: show_action,
        current_user_votes: current_user_votes,
        is_authenticate: is_authenticate,
        badge_definer: badge_definer
    } only %}
{% endblock %}
