<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Found an issue ? Suggestion ? <br/>
                    <a href="https://github.com/Cryde/php-vote/issues" target="_blank">Open an issue on Github <i
                                class="fab fa-github"></i></a>
                </p>
            </div>
            <div class="col-lg-6">
                <p class="text-right">
                    <a href="https://twitter.com/PHPVote" target="_blank">Follow us on <i
                                class="fab fa-twitter"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>